html {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html,
body,
.valign-wrapper {
  height: 100%;
}
.term {
  visibility: hidden;
  margin: 2px;
}
#sentence span {
  color: white;
}
